/* General */
:root {
  --primary: #01203d;
  --accent: #42b758;
  --accent-light: #e2f1ce;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.page-section, .footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.dark-section {
  background-color: var(--primary);
  color: #fff;
}
.dark-section .section-heading {
  color: #fff;
}
.grey-section {
  background-color: rgba(0,0,0,0.05);
}
.section-heading {
  text-align: center;
  color: var(--primary);
  margin-bottom: 3rem;
}
.btn-link {
  color: var(--accent);
  position: relative;
  text-decoration: none;
}
.btn-link:hover,
.btn-link:active {
  color: var(--accent);
}
.btn-link::before,
.btn-link::after {
  content: "";
  position: absolute;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.btn-link::before {
  width: 20px;
  height: 2px;
  left: calc(100% + 10px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--accent);
}
.btn-link::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -30px;
  top: 50%;
}
.btn-link:hover::before {
  left: calc(100% + 15px);
}
.btn-link:hover::after {
  right: -35px;
}
/* End General */

/* Navbar */
.navbar .btn-search {
  background-image: url(img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
}
.navbar .search-input {
  border-radius: 0;
  display: none;
}
/* End Navbar */

/* Main Screen */
.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
.main-screen__content {
  width: 70%;
}
.main-screen__pic {
  width: 30%;
  background-image: url(img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-screen__intro {
  margin-top: 15vh;
  padding-left: 100px;
}
.main-screen__heading {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  color: var(--primary);
}
.main-screen__products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}
.main-screen__products-list-item {
  border: 1px solid rgba(0,0,0,0.3);
  margin-right: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: bottom 1rem left 1rem;
  padding-bottom: 4.5rem;
  position: relative;
}
.main-screen__products-list-item:nth-child(1){
  background-image: url(img/vacuum-cleaner-op50.svg);
}
.main-screen__products-list-item:nth-child(2){
  background-image: url(img/barrel-op50.svg);
}
.main-screen__products-list-item:nth-child(3){
  background-image: url(img/gas-mask-op50.svg);
}
.main-screen__products-list-link {
  display: block;
  width: 3.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.main-screen__products-list-link::before,
.main-screen__products-list-link::after {
  content: "";
  position: absolute;
  display: block;
}
.main-screen__products-list-link::before {  
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--accent);
}
.main-screen__products-list-link::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  top: 50%;
}
/* End Main Screen */

/* Products Section */
.products-section {
  background-image: url(img/wave.svg);
}
.products-section__item {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.products-section__item h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.products-section__item p {
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.products-section__item-link {
  -ms-flex-item-align: center;
  align-self: center;
} 
/* End Products Section */

/* Benefits Section */
.benefits-section__item {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: 50px;
}
.benefits-section__item-1 {
  background-image: url(img/global.svg);
}
.benefits-section__item-2 {
  background-image: url(img/chronometer.svg);
}
.benefits-section__item-3 {
  background-image: url(img/inspection.svg);
}
.benefits-section__item h3 {
  font-size: 1.3rem;
}
/* End Benefits Section */