/* General */
:root {
  --primary: #01203d;
  --primary-dark: #011c35;
  --accent: #42b758;
  --accent-light: #e2f1ce;
}
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.page-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.dark-section {
  background-color: var(--primary);
  color: #fff;
}
.dark-section .section-heading {
  color: #fff;
}
.grey-section {
  background-color: rgba(0,0,0,0.05);
}
.section-heading {
  text-align: center;
  color: var(--primary);
  margin-bottom: 3rem;
}
.btn-link {
  color: var(--accent);
  position: relative;
  text-decoration: none;
}
.btn-link:hover,
.btn-link:active {
  color: var(--accent);
}
.btn-link::before,
.btn-link::after {
  content: "";
  position: absolute;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.btn-link::before {
  width: 20px;
  height: 2px;
  left: calc(100% + 10px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--accent);
}
.btn-link::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -30px;
  top: 50%;
}
.btn-link:hover::before {
  left: calc(100% + 15px);
}
.btn-link:hover::after {
  right: -35px;
}
/* End General */

/* Navbar */
.navbar__burger {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 0;
  border-color: transparent;
  background-image: linear-gradient(to top, transparent 9px, rgba(0,0,0,1) 9px, rgba(0,0,0,1) 11px, transparent 11px);   
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.navbar__burger::before, 
.navbar__burger::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(0,0,0,1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.navbar__burger::before {
  top: 0;
}
.navbar__burger::after {
  bottom: 0;
}
.navbar__burger:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar__burger_menu_open {
  background-image: none;
}
.navbar__burger_menu_open::before,
.navbar__burger_menu_open::after {
  top: 50%;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.navbar__burger_menu_open::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.navbar__burger_menu_open::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.navbar-brand {
  width: 148px;
}
/* End Navbar */

/* Media Navbar */
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-screen .navbar {
    font-size: 0.9rem;
  }
  .main-screen .navbar-brand {
    width: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-screen .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  }
}
@media (max-width: 991px) {
  .navbar {
    background-color: #fff;
  }
  .navbar-brand {
    width: 120px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .navbar__burger {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .navbar .search {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: auto;
    margin-right: 0.5rem;
  }
  .navbar-collapse {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-transform: perspective(1000px) rotateX(-90deg);
    transform: perspective(1000px) rotateX(-90deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    z-index: 5;
  }
  .navbar-collapse.show {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 400px) {
  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
/* End Media Navbar */

/* Search */
.search {
  position: relative;
}
.search__btn {
  padding: 0;
  width: 22px;
  height: 22px;
  background-image: url(img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
}
.search__btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search__btn_toggle {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
/*
	top: 0;
	right: 0;
*/
}
.search__btn_search {
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.search__input {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  opacity: 0;
  width: 0;
  -webkit-transition: 
    width 0.3s ease-out,
    left 0.5s ease-out,
    opacity 1s ease-out;
  transition: 
    width 0.3s ease-out,
    left 0.5s ease-out,
    opacity 1s ease-out;
}
.search_active .search__input {
  width: 300px;
  opacity: 1;
}
.search_active .search__btn_search {
  opacity: 1;
}
.search_active .search__btn_toggle {
  display: none;
}
.search__input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* End Search */

/* Media Search */
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-screen .search__btn {
    width: 1.4rem;
    height: 1.4rem;
  }
  .main-screen .search_active .search__input {
    width: 250px;
  }
}
@media (max-width: 991px) {
  .search_active .search__input {
    width: 250px;
  }
}
/* End Media Search */

/* Main Screen */
.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}
.main-screen__content {
  width: 70%;
}
.main-screen__pic {
  width: 30%;
  background-image: url(img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-screen__intro {
  margin-top: 15vh;
  padding-left: 100px;
}
.main-screen__heading {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  color: var(--primary);
}
.main-screen__products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}
.main-screen__products-list-item {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 1rem;
  text-transform: uppercase;
  margin-right: 1rem;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: bottom 1rem left 1rem;
  padding-bottom: 4.5rem;
  position: relative;
}
.main-screen__products-list-item:last-child {
  margin-right: 0;
}
.main-screen__products-list-item:nth-child(1){
  background-image: url(img/vacuum-cleaner-op50.svg);
}
.main-screen__products-list-item:nth-child(2){
  background-image: url(img/barrel-op50.svg);
}
.main-screen__products-list-item:nth-child(3){
  background-image: url(img/gas-mask-op50.svg);
}
.main-screen__products-list-link {
  display: block;
  width: 3.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.main-screen__products-list-link::before,
.main-screen__products-list-link::after {
  content: "";
  position: absolute;
  display: block;
}
.main-screen__products-list-link::before {  
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--accent);
}
.main-screen__products-list-link::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  top: 50%;
}
/* End Main Screen */

/* Media Main Screen */
@media (min-width: 992px) and (max-width: 1199px) {
  .main-screen__intro {
    margin-top: 25vh;
    padding-left: 12px;
  }
  .main-screen__heading {
    font-size: 4rem;
    line-height: 1.2;
  }
  .main-screen__products-list {
    margin-top: 7vh;
  }
  .main-screen__products-list-item {
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  .main-screen {
    background-image: url(img/main-bg-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .main-screen__content {
    width: 100%;
  }
  .main-screen__intro {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    
  }
  .main-screen__pic {
    display: none;
  }
  .main-screen__heading {
    color: #fff;
    font-size: 4rem;
  }
  .main-screen__products-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-screen__products-list-item {
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0.3); 
  }
  .main-screen__products-list-item:nth-child(1){
    background-image: url(img/vacuum-cleaner-white-op50.svg);
  }
  .main-screen__products-list-item:nth-child(2){
    background-image: url(img/barrel-white-op50.svg);
  }
  .main-screen__products-list-item:nth-child(3){
    background-image: url(img/gas-mask-white-op50.svg);
  }
}
@media (max-width: 767px) {
  .main-screen__products-list-item {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .main-screen__intro {
    margin-top: 3rem;
  }
  .main-screen__heading {
    font-size: 3rem;
  }
  .main-screen__products-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-screen__products-list-item {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 200px;
    text-align: left;
    font-size: 0.9rem;
  }
}
/* End Media Main Screen */

/* Products Section */
.products-section {
  background-image: url(img/wave.svg);
}
.products-section__item {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.products-section__item img {
  width: 75%;
}
.products-section__item h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.products-section__item p {
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: rgba(255,255,255,0.8);
}
.products-section__item-link {
  -ms-flex-item-align: center;
  align-self: center;
} 
/* End Products Section */

/* Media Products Section */
@media (max-width: 991px) {
  .products-section__item {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 1rem;
    text-align: left;
  }
  .products-section__item img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .products-section__item h3 {
    grid-column: 2/3;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .products-section__item p {
    grid-column: 2/3;
    margin: 0;
  }
  .products-section__item-link {
    grid-column: 2/3;
  }
}
@media (max-width: 575px) {
  .products-section__item {
    grid-template-columns: 1fr;
  }
  .products-section__item img {
    display: none;
  }
}
/* End Media Products Section */

/* Benefits Section */
.benefits-section__item {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: 50px;
}
.benefits-section__item-1 {
  background-image: url(img/global.svg);
}
.benefits-section__item-2 {
  background-image: url(img/chronometer.svg);
}
.benefits-section__item-3 {
  background-image: url(img/inspection.svg);
}
.benefits-section__item h3 {
  font-size: 1.3rem;
}
/* End Benefits Section */

/* Media Benefits Section */
@media (max-width: 991px) {
  .benefits-section__item {
    padding-top: 0;
    padding-left: 60px;
  }
}
/* End Media Benefits Section */

/* Contacts Section */
.contacts-section {
  background-color: var(--primary);
  background-image: url(img/wave-contacts.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.contacts-section__item {
  text-align: center;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: top center;
  min-height: 50px;
}
.contacts-section__address {
  background-image: url(img/pin.svg);
}
.contacts-section__tel {
  background-image: url(img/telephone.svg);
}
.contacts-section__mail {
  background-image: url(img/envelope.svg);
}
.contacts-section__item h3 {
  font-size: 1rem;
}
/* End Contacts Section */

/* Footer */
.page-footer {
  background-color: var(--primary-dark);
  color: rgba(255,255,255,0.5);
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* End Footer */

/* Product Card */
.product-card h1 {
  margin-bottom: 3rem;
  text-align: center;
}
.product-card__img-wrap {
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.1);
  width: 500px;
  height: 500px;
  background-image: radial-gradient(circle at center, var(--primary-dark) 0, var(--primary-dark) 40%, transparent 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.product-card__img {
  width: 200px;
}
.product-card__param-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 70%;
}
.product-card__param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.product-card__param:not(:last-child) {
  margin-bottom: 3rem;
}
.product-card__param dd {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  font-weight: 600;
  font-size: 0.9rem;
}
.product-card__param dt {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-weight: 300;
  color: rgba(255,255,255,0.5);
  font-size: 0.8rem;
}
.product-card__param_left {
  padding-left: 1rem;
  border-left: 2px solid var(--accent);
}
.product-card__param_right {
  padding-right: 1rem;
  border-right: 2px solid var(--accent);
  text-align: right
}
.product-card__icon-btn {
  position: absolute;
  display: block;
  border-radius: 50%;
  border: none;
  background-color: var(--accent);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
.product-card__icon-btn img {
  width: 60%;
  -webkit-animation-duration: inherit;  
  animation-duration: inherit;
  -webkit-animation-timing-function: inherit;
  animation-timing-function: inherit;
  -webkit-animation-delay: inherit;
  animation-delay: inherit;
  -webkit-animation-fill-mode: inherit;
  animation-fill-mode: inherit;
  pointer-events: none;
}
.product-card__video-btn {
  top: -20px;
  width: 40px;
  height: 40px;
  -webkit-animation-name: video-btn-spin;
  animation-name: video-btn-spin;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform-origin: 50% 270px;
  transform-origin: 50% 270px;
}
.product-card__video-btn img {
  -webkit-animation-name: video-btn-spin-reverse;
  animation-name: video-btn-spin-reverse;
}
.product-card__docs-btn {
  width: 30px;
  height: 30px;
  top: -15px;
  -webkit-animation: docs-btn-spin 1s ease-in-out;
  animation: docs-btn-spin 1s ease-in-out;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform-origin: 50% 265px;
  transform-origin: 50% 265px;
}
.product-card__docs-btn img {
  -webkit-animation-name: docs-btn-spin-reverse;
  animation-name: docs-btn-spin-reverse;
}
.product-card__dl-usual {
  font-size: 0.8rem;
  text-align: center;
}
@-webkit-keyframes video-btn-spin {
  to { 
    -webkit-transform: rotate(0.16turn); 
    transform: rotate(0.16turn); 
  }
}
@keyframes video-btn-spin {
  to { 
    -webkit-transform: rotate(0.16turn); 
    transform: rotate(0.16turn); 
  }
}
@-webkit-keyframes video-btn-spin-reverse {
  to { 
    -webkit-transform: rotate(-0.16turn); 
    transform: rotate(-0.16turn); 
  }
}
@keyframes video-btn-spin-reverse {
  to { 
    -webkit-transform: rotate(-0.16turn); 
    transform: rotate(-0.16turn); 
  }
}
@-webkit-keyframes docs-btn-spin {
  to {
    -webkit-transform: rotate(-0.37turn);
    transform: rotate(-0.37turn);
  }
}
@keyframes docs-btn-spin {
  to {
    -webkit-transform: rotate(-0.37turn);
    transform: rotate(-0.37turn);
  }
}
@-webkit-keyframes docs-btn-spin-reverse {
  to {
    -webkit-transform: rotate(0.37turn);
    transform: rotate(0.37turn);
  }
}
@keyframes docs-btn-spin-reverse {
  to {
    -webkit-transform: rotate(0.37turn);
    transform: rotate(0.37turn);
  }
}
/* End Product Card */

/* Media Product Card */
@media (min-width: 992px) and (max-width: 1199px) {
  .product-card__img-wrap {
    width: 450px;
    height: 450px;
  }
  .product-card__video-btn {
    -webkit-transform-origin: 50% 245px;
    transform-origin: 50% 245px;
  }
  .product-card__docs-btn {
    -webkit-transform-origin: 50% 240px;
    transform-origin: 50% 240px;
  }
}
@media (max-width: 991px) {
  .product-card__img-wrap {
    width: 350px;
    height: 350px;
  }
  .product-card__video-btn {
    -webkit-transform-origin: 50% 195px;
    transform-origin: 50% 195px;
  }
  .product-card__docs-btn {
    -webkit-transform-origin: 50% 190px;
    transform-origin: 50% 190px;
  }
  .product-card__dl-usual {
    text-align: left;
  }
  .product-card .how-to-order {
    margin-top: 3rem;
  }
}
@media (max-width: 575px) {
  .product-card__param_right {
    padding-right: 0;
    padding-left: 1rem;
    border-right: none;
    border-left: 2px solid var(--accent);
    text-align: left
  }
  .product-card__param_left {
   margin-bottom: 3rem; 
  }
  .product-card__param-list {
    margin-bottom: 0;
  }
  .product-card__img-wrap {
    margin-bottom: 4rem;
  }
}
/* End Media Product Card */

/* How to Order */
.how-to-order {
  background-color: var(--primary);
  color: #fff;
  padding: 1.5rem;
}
.how-to-order__heading {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--accent);
  text-transform: uppercase;
}
.how-to-order ul {
  list-style-type: circle;
}
/* End How to Order */