/* General */
:root {
  --primary: #01203d;
  --accent: #42b758;
}
body {
  font-family: 'Montserrat', sans-serif;
  height: 5000px;
}
/* End General */

/* Navbar */
.navbar .btn-search {
  background-image: url(img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
}
.navbar .search-input {
  border-radius: 0;
  display: none;
}
/* End Navbar */

/* Main Screen */
.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
.main-screen__content {
  width: 70%;
}
.main-screen__pic {
  width: 30%;
  background-image: url(img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-screen__intro {
  margin-top: 15vh;
  padding-left: 100px;
}
.main-screen__heading {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  color: var(--primary);
}
.main-screen__products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}
.main-screen__products-list-item {
  border: 1px solid rgba(0,0,0,0.3);
  margin-right: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: bottom 1rem left 1rem;
  padding-bottom: 4.5rem;
  position: relative;
}
.main-screen__products-list-item:nth-child(1){
  background-image: url(img/vacuum-cleaner-op50.svg);
}
.main-screen__products-list-item:nth-child(2){
  background-image: url(img/barrel-op50.svg);
}
.main-screen__products-list-item:nth-child(3){
  background-image: url(img/gas-mask-op50.svg);
}
.main-screen__products-list-link {
  display: block;
  width: 3.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.main-screen__products-list-link::before,
.main-screen__products-list-link::after {
  content: "";
  position: absolute;
  display: block;
}
.main-screen__products-list-link::before {  
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--accent);
}
.main-screen__products-list-link::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  top: 50%;
}
/* End Main Screen */